# Menulis ulang url
RewriteEngine On
RewriteRule ^laporan-pdf ./config/laporan/generatepdf.php
RewriteRule ^laporan ./view/laporan/index.php
RewriteRule ^login ./view/auth/login.php
RewriteRule ^logout ./config/auth/logout.php
RewriteRule ^dashboard ./view/dashboard/index.php
RewriteRule ^pasien/list ./view/pasien/index.php
RewriteRule ^pasien/add ./view/pasien/add.php
RewriteRule ^pasien/edit ./view/pasien/edit.php
RewriteRule ^profil ./view/profile/index.php
RewriteRule ^updateprofil ./config/auth/update_profil_password.php
RewriteRule ^pengaturan ./view/pengaturan/index.php


# Mengamankan agar direktori tidak dapat diakses langsung
Options All -Indexes

# Menghapus ekstensi php
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>